@import '../scss/extend';
@import '../scss/includes';
@import '../scss/variables';

  #sep {
    margin-top: 3rem;
  }
  .form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 4rem;
    width: 50vw;
    min-height:40vh;
    margin-bottom:0;
  }
  .form input[type="text"],
  .form input[type="tel"] {
    padding: 12px 20px;
    margin: 15px 0;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    background-color: transparent;
    @extend .border;
  
    &::placeholder {
    font-family:$font;
    line-height: 17.07px;
    letter-spacing: 0.04em;
    text-align: left;
    @include text(14px,
    #858181,700);
  }
}
  textarea {
    padding: 12px 20px;
    margin: 10px 0;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    background-color: transparent;
    @extend .border;
  
    &::placeholder {
    font-family:$font;
    line-height: 17.07px;
    letter-spacing: 0.04em;
    text-align: left;
    @include text(14px,
    #858181,700);
  }
}
@include tablet{
  
}
@include mobile{
  .work p {
    padding:2rem;
  }
}